body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}


form label, form legend{
    display: flex;
    position: relative;
    font-size: 16px;
    margin: 0 0 0px;
    
    
}

form{
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 18px;
    margin-left: 50%;
    justify-content: right;
    margin-top: 250px;
    
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background:/* Green */hsl(154, 59%, 51%);
    color: rgb(255, 250, 250);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; 
    cursor: pointer;
    margin-left: 55%;
}
.enviar:hover{
    background: Green;
    transform: scale(1.1);
    color: black;
}
.body_background {
    background: url('./images/bg-intro-desktop.png') repeat center / cover;
    background-color: palevioletred;
}

.input-padrao {
    display: block;
        width: 100%;
}
bgform{
    margin-left: 50%;
    margin-top: 35%;
    display: block;
    justify-content: space-around;
}
bg{
    width: 50%;
    height: 50%;
}

.sobre{
    padding: 1rem;
    border-radius: 18px;
    margin-right: 50%;
    display: block;
    justify-content: left;
    
}
